@using Microsoft.AspNetCore.Components.QuickGrid;

<h4 class="title">History</h4>
<div class="block__wrapper">
    <div class="table">
        <QuickGrid Items="@history" Pagination="@pagination">
            <PropertyColumn Property="@(p => p.Data)" Sortable="true" />
            <PropertyColumn Property="@(p => p.From)" Sortable="false" />
            <PropertyColumn Property="@(p => p.Summa)" Sortable="false" />
            <PropertyColumn Property="@(p => p.Comment)" Sortable="false" />
        </QuickGrid>
    </div>
    <Paginator State="@pagination" />
</div>

@code {
    
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    record Transaction(int Id, string Data, string From, double Summa, string Comment);

    IQueryable<Transaction> history = new[]
    {
        new Transaction(Id: 1, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 1.2, Comment: "hi"),
        new Transaction(Id: 2, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 2.2, Comment: "hi"),
        new Transaction(Id: 3, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 3.2, Comment: "hi"),
        new Transaction(Id: 4, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 4.2, Comment: "hi"),
        new Transaction(Id: 5, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 5.2, Comment: "hi"),
        new Transaction(Id: 6, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 6.2, Comment: "hi"),
        new Transaction(Id: 7, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 7.2, Comment: "hi"),
        new Transaction(Id: 8, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 8.2, Comment: "hi"),
        new Transaction(Id: 9, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 9.2, Comment: "hi"),
        new Transaction(Id: 10, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 10.2, Comment: "hi"),
        new Transaction(Id: 11, Data: DateTime.Now.ToString("dd/MM/yy"), From: "email", Summa: 11.2, Comment: "hi"),
    }.AsQueryable();
}